.logo{
    display: flex;
    gap: 0.5rem;
    height:fit-content;
    padding-left: 3rem;
    padding-top: 3rem;
}
.logo p{
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
    padding-left: 0.5rem;
}

@media only screen and (min-width: 360px) and (max-width: 428px) {

    .logo{
        display: flex;
        gap: 0.5rem;
        height:fit-content;
        padding-left: 1rem;
        padding-top: 1rem;
        justify-content: center;
    }
    
    .logo p{
        color: #fff;
        font-size: 1.5rem;
        font-weight: 600;
        padding-left: 0.1rem;
    }
    

}

